<div class="container">
        <div class="row">
            <div class="col col-12 col-sm-3">

            </div>
            <div class="col col-12 col-sm-6">
                    <div class="page-header">
                            <h1 class="bg-primary ">Create New Exam</h1>
                    </div>
                    <form (ngSubmit)="createExam()" ngNativeValidate>
                            <table class="table">
                                    <tr >
                                        <td>Exam Name</td>
                                        <td><input type="text" name ="exam_name" class="form-control" placeholder="Exam Name" [(ngModel)]="name" required></td>
                                    </tr>
                                    <tr>
                                            <td>Time Limit</td>
                                            <td><input type="text" name ="exam_name" class="form-control" placeholder="In Minutes" [(ngModel)]="time" required></td>
                                    </tr>
                                    <tr>
                                            <td><button type="reset" class="btn btn-primary">RESET</button></td>
                                            <td><button type="submit"  class="btn btn-primary">CREATE</button></td>
                                    </tr>
                                </table>
                    </form>
            </div>
            <div class="col col-12 col-sm-3"></div>
        </div>
    </div>





