.bg {
    /* The image used */
    background-image: url('/assets/images/intro-img.svg');
    background-color: burlywood;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
